Replicas: 1
StorageClass: ""
ExecutorK8sName: "kubeexecutor"
ExecutorK8sNamespace: ""
ExecutorK8sPVC: "kubeexecutor-pvc"

ExecutorDockerImage: "colonyos/kubeexecutor:v1.0.9"

# Colonies server settings
ColoniesServerHost: ""
ColoniesServerPort: 443
ColoniesTLS: true
ColoniesColonyName: ""
ColoniesColonyPrvKey: ""
ColoniesExecutorName: ""
ColoniesPrvKey: ""
AWSS3Endpoint: ""
AWSS3AccessKey: ""
AWSS3SecretKey: ""
AWSS3Region: ""
AWSS3Bucket: ""
AWSS3TLS: "true"
AWSS3SkipVerify: "false"

# If ExecutorResourceLimit set to true, ExecutorMemory will limit memory usage
# for the K8s Executor, and ExecutorCPU will set a request on CPU.
ExecutorResourceLimit: true

# Memory limit for the K8s Executor (not by spawned processes)
ExecutorMemory: "6000Mi"

# CPU request by the K8s Executor (not by spawned processes) 
ExecutorCPU: "2000m"

# Shared storage used by the K8s Executor and all spawned processes
ExecutorStorage: "6Gi"

# Path on the shared space, where ColonyFS files are stored
ExecutorFSDir: "/cfs"

# This one is not used? Executor type is derived from executor registration?
ExecutorType: "kubeexecutor"

# Meta-data only below
ExecutorLocationDesc: ""
ExecutorLocationLong: ""
ExecutorLocationLat: ""
ExecutorSWName: "kubeexecutor"
ExecutorSWType: "kubeexecutor"
ExecutorSWVersion: "1.0.9"

# Total number of cores available to running processes. The K8s Executor will not 
# start processes if there is not enough CPU resources available in the Kubernetes cluster
# or namespace. 
#
# Note that this value excludes the CPU limit set by the executor itself, such 
# as that defined by the ExecutorMemory setting, assuming ExecutorResourceLimit is set.
# Therefore, the total CPUs in the cluster must be greater than the sum of 
# ExecutorCPU and ExecutorHWTotalCPU.
ExecutorHWTotalCPU: ""

# Total memory available for running processes. The K8s Executor will not start 
# processes if there is not enough available memory. The specified value must not 
# exceed the available memory in the cluster or the namespace quota limit. 
#
# Note that this value excludes the memory utilized by the executor itself, such 
# as that defined by the ExecutorMemory setting, assuming ExecutorResourceLimit is set.
# Therefore, the total memory in the cluster must be greater than the sum of 
# ExecutorMemory and ExecutorHWTotalCPU.
ExecutorHWTotalMem: ""  


# GPU resources
ExecutorHWGPUCount: "0"
ExecutorHWGPUMem: "0"
ExecutorHWGPUNodesCount: "0"
ExecutorHWGPUName: "n/a"

# Meta-data below
ExecutorHWModel: ""
ExecutorHWNodes: "1"
