{{ if .Values.network.ingress }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: colonies-ingress
  {{- if .Values.colonies.backends.http.tls }}
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
  {{- end }}
spec:
  ingressClassName: {{ .Values.network.ingressController }}
  rules:
  - host: {{ .Values.network.hostname | quote }}
    http:
      paths:
        - pathType: Prefix
          path: /
          backend:
            service:
              name: colonies-service
              port:
                number: 80
  {{- if .Values.colonies.backends.http.tls }}
  tls:
    - hosts:
        - {{ .Values.network.hostname | quote }}
      secretName: colonies-tls
  {{- end }}
{{ end }}
