apiVersion: v1
kind: Service
metadata:
  name: colonies-service 
  labels:
    app: colonies
spec:
  selector:
    app: colonies
  {{ if .Values.network.exposeNodeport }}
  type: NodePort
  {{ end }}
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 80
      {{ if .Values.network.exposeNodeport }}
      nodePort: {{ int .Values.network.nodeport }}
      {{ end }}
    - name: profiler-http
      protocol: TCP
      port: {{ (int .Values.colonies.profilerPort) }}
      targetPort: {{ (int .Values.colonies.profilerPort) }}
