{{ if .Values.monitoring.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: colonies-monitor-deployment
  labels:
    app: colonies-monitor
spec:
  replicas: 1
  selector:
    matchLabels:
      app: colonies-monitor
  template:
     metadata:
       annotations:
         timestamp: {{ now | quote }}
       labels:
         app: colonies-monitor
     spec:
       {{- if .Values.imagePullSecrets }}
       imagePullSecrets:
         {{- toYaml .Values.imagePullSecrets | nindent 8 }}
       {{- end }}
       containers:
       - name: colonies-monitor
         image: {{ .Values.colonies.image | quote }}
         imagePullPolicy: {{ .Values.colonies.imagePullPolicy }}
         command: ["colonies", "monitor", "start"]
         ports:
           - containerPort: 80
         envFrom:
           - configMapRef:
               name: colonies-monitor-config
         {{ if .Values.monitoring.resources.enabled }}
         resources:
           requests:
             cpu: {{ .Values.monitoring.resources.requests.cpu | quote }}
             memory: {{ .Values.monitoring.resources.requests.memory | quote }}
           limits:
             cpu: {{ .Values.monitoring.resources.limits.cpu | quote }}
             memory: {{ .Values.monitoring.resources.limits.memory | quote }}
         {{ end }}
{{ end }}
