apiVersion: v1
kind: ConfigMap
metadata:
  name: colonies-config
  labels:
    app: colonies
data:
  COLONIES_SERVER_TLS: "false"
  COLONIES_SERVER_ID: {{ .Values.colonies.serverid | quote }}
  COLONIES_SERVER_PORT: "80"
  COLONIES_DB_HOST: {{ .Values.database.host | quote }}
  COLONIES_DB_PORT: {{ .Values.database.port | quote }}
  COLONIES_DB_USER: {{ .Values.database.user | quote }}
  COLONIES_DB_PASSWORD: {{ .Values.database.password | quote }}
  COLONIES_DB_TIMESCALEDB: {{ .Values.database.timescaledb | quote }}
  COLONIES_TLSCERT: "/run/secrets/tls/tls.crt"
  COLONIES_TLSKEY: "/run/secrets/tls/tls.key"
  COLONIES_VERBOSE: {{ .Values.colonies.verbose | quote }}
  COLONIES_SERVER_PROFILER: {{ .Values.colonies.profiler | quote }}
  COLONIES_SERVER_PROFILER_PORT: {{ .Values.colonies.profilerPort | quote }}
  COLONIES_CRON_CHECKER_PERIOD: {{ .Values.colonies.cronCheckerPeriod | quote }}
  COLONIES_GENERATOR_CHECKER_PERIOD: {{ .Values.colonies.generatorCheckerPeriod | quote }}
  COLONIES_EXCLUSIVE_ASSIGN: {{ .Values.colonies.exclusiveAssign | quote }}
  COLONIES_ALLOW_EXECUTOR_REREGISTER: {{ .Values.colonies.allowExecutorReregister | quote }}
  COLONIES_RETENTION: {{ .Values.colonies.retention | quote }}
  COLONIES_RETENTION_POLICY: {{ .Values.colonies.retentionPolicy | quote }}
  TZ: {{ .Values.timezone | quote }}
