{{ if .Values.monitoring.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: colonies-monitor-service
  labels:
    app: colonies-monitor
spec:
  selector:
    app: colonies-monitor
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 80
{{ end }}
