{{ if .Values.monitoring.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: colonies-monitor-config
  labels:
    app: colonies-monitor
data:
  COLONIES_MONITOR_PORT: "80"
  COLONIES_MONITOR_INTERVAL: {{ .Values.monitoring.interval | quote }}
  COLONIES_SERVER_HOST: {{ .Values.colonies.internalhostname | quote }}
  COLONIES_SERVER_PORT: "80"
  COLONIES_SERVER_ID: {{ .Values.colonies.serverid | quote }}
  COLONIES_SERVER_PRVKEY: {{ .Values.colonies.serverPrivateKey | quote }}
  COLONIES_TLS: "false"
{{ end }}
