apiVersion: apps/v1
kind: StatefulSet 
metadata:
  name: colonies-server
  labels:
    app: colonies
spec:
  serviceName: "colonies-internal"
  replicas: {{ (int .Values.colonies.replicas) }}
  updateStrategy:
    type: {{ .Values.colonies.updateStrategy.type }}
  selector:
    matchLabels:
      app: colonies
  template:
     metadata:
       annotations:
         timestamp: {{ now | quote }}
       labels:
         app: colonies
     spec:
       {{- if .Values.imagePullSecrets }}
       imagePullSecrets:
         {{- toYaml .Values.imagePullSecrets | nindent 8 }}
       {{- end }}
       initContainers:
       - name: setupdb
         image: {{ .Values.colonies.image | quote }}
         imagePullPolicy: {{ .Values.colonies.imagePullPolicy }}
         command: ["/bin/colonies", "database", "create"]
         resources:
           requests:
             cpu: "100m"
             memory: "128Mi"
           limits:
             cpu: "500m"
             memory: "512Mi"
         envFrom:
           - configMapRef:
               name: colonies-config
       containers:
       - name: colonies
         image: {{ .Values.colonies.image | quote }}
         imagePullPolicy: {{ .Values.colonies.imagePullPolicy }}
         ports:
           - containerPort: 80
           - containerPort: 2379
             name: client
           - containerPort: 2380
             name: peer
           - containerPort: 2381
             name: relay
           - containerPort: {{ (int .Values.colonies.profilerPort) }}
             name: http-profiler
         envFrom:
           - configMapRef:
               name: colonies-config
         volumeMounts:
           - name: etcd-data
             mountPath: /var/run/etcd
         {{ if .Values.colonies.resources.enabled }}
         resources:
           requests:
             cpu: {{ .Values.colonies.resources.requests.cpu | quote }}
             memory: {{ .Values.colonies.resources.requests.memory | quote }}
           limits:
             cpu: {{ .Values.colonies.resources.limits.cpu | quote }}
             memory: {{ .Values.colonies.resources.limits.memory | quote }}
         {{ end }}
         lifecycle:
            preStop:
              exec:
                command: ["rm", "-rf", "/var/run/etcd"]
         command:
           - /bin/sh
           - -ec
           - |
             REPLICAS={{ (int .Values.colonies.replicas) }}
             PEERS=""
             for i in $(seq 0 $((${REPLICAS} - 1))); do
                PEERS="${PEERS}${PEERS:+,}colonies-server-${i}=colonies-server-${i}.colonies-internal:2380:2381:80"
             done
             exec colonies server start --etcdname ${HOSTNAME} --etcdhost ${HOSTNAME} --etcdclientport 2379 --etcdpeerport 2380 --initial-cluster ${PEERS} --etcddatadir /var/run/etcd
  volumeClaimTemplates: 
    - metadata:
        name: etcd-data
      spec:
        accessModes: [ "ReadWriteOnce" ]
        storageClassName: {{ .Values.storageClassName }}
        resources:
          requests:
            storage: 1Gi
