apiVersion: v1
kind: ConfigMap
metadata:
  name: colonies-postgres-config
  labels:
    app: colonies-postgres
data:
  POSTGRES_USER: {{ .Values.database.user | quote }}
  POSTGRES_PASSWORD: {{ .Values.database.password | quote }}
  PGDATA: /var/lib/postgresql/data/colonies
  TZ: {{ .Values.timezone | quote }}
  TS_TUNE_MAX_CONNS: "1000"
