apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: colonies-postgresql-pvc
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: {{ .Values.storageClassName }}
  resources:
    requests:
      storage: {{ .Values.database.storage }} 
