apiVersion: apps/v1
kind: StatefulSet 
metadata:
  name: colonies-postgres-statefulset
  labels:
    app: colonies-postgres
spec:
  serviceName: "colonies-postgresql-internal"
  replicas: 1
  updateStrategy:
    type: {{ .Values.database.updateStrategy.type }}
  selector:
    matchLabels:
      app: colonies-postgres
  template:
     metadata:
       labels:
          app: colonies-postgres
     spec:
         {{- if .Values.imagePullSecrets }}
         imagePullSecrets:
           {{- toYaml .Values.imagePullSecrets | nindent 10 }}
         {{- end }}
         containers:
           - name: timescaledb
             image: {{ .Values.database.image }}
             imagePullPolicy: {{ .Values.database.imagePullPolicy }}
             ports:
               - containerPort: 5432
             envFrom:
               - configMapRef:
                   name: colonies-postgres-config
             volumeMounts:
               - mountPath: /var/lib/postgresql/data
                 name: colonies-postgresdb
             {{ if .Values.database.resources.enabled }}
             resources:
               requests:
                 cpu: {{ .Values.database.resources.requests.cpu | quote }}
                 memory: {{ .Values.database.resources.requests.memory | quote }}
               limits:
                 cpu: {{ .Values.database.resources.limits.cpu | quote }}
                 memory: {{ .Values.database.resources.limits.memory | quote }}
             {{ end }}
         volumes:
           - name: colonies-postgresdb
             persistentVolumeClaim:
               claimName: colonies-postgresql-pvc
