{{ if and .Values.monitoring.enabled .Values.prometheus.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: colonies-prometheus-server-conf
  labels:
    app: colonies-prometheus
data:
  prometheus.yml: |-
    global:
      scrape_interval: 15s
      external_labels:
        monitor: 'codelab-monitor'

    scrape_configs:
      - job_name: 'prometheus'
        scrape_interval: {{ .Values.prometheus.scrapeInterval }}
        static_configs:
          - targets: ['{{ .Values.monitoring.server }}']
{{ end }}
