{{ if and .Values.monitoring.enabled .Values.prometheus.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: colonies-prometheus-deployment
  labels:
    app: colonies-prometheus
spec:
  replicas: 1
  selector:
    matchLabels:
      app: colonies-prometheus
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1 
      maxSurge: 0 
  template:
     metadata:
       annotations:
         timestamp: {{ now | quote }}
       labels:
         app: colonies-prometheus
     spec:
       {{- if .Values.imagePullSecrets }}
       imagePullSecrets:
         {{- toYaml .Values.imagePullSecrets | nindent 8 }}
       {{- end }}
       initContainers:
       - name: "init-datapath"
         image: alpine:3.16.2
         command: ["chown", "-R", "65534:65534", "/prometheus"]
         command: ["/bin/chmod","-R","777","/prometheus"]
         resources:
           requests:
             cpu: "100m"
             memory: "128Mi"
           limits:
             cpu: "200m"
             memory: "256Mi"
         volumeMounts:
         - name: colonies-prometheus-storage-volume 
           mountPath: /prometheus
           subPath: ""
       containers:
       - name: colonies-prometheus
         args:
            - "--config.file=/etc/prometheus/prometheus.yml"
            - "--storage.tsdb.path=/prometheus/"
         image: {{ .Values.prometheus.image | quote }}
         imagePullPolicy: {{ .Values.prometheus.imagePullPolicy }}
         {{ if .Values.prometheus.resources.enabled }}
         resources:
           requests:
             cpu: {{ .Values.prometheus.resources.requests.cpu | quote }}
             memory: {{ .Values.prometheus.resources.requests.memory | quote }}
           limits:
             cpu: {{ .Values.prometheus.resources.limits.cpu | quote }}
             memory: {{ .Values.prometheus.resources.limits.memory | quote }}
         {{ end }}
         ports:
           - containerPort: 9090
         volumeMounts:
          - name: colonies-prometheus-config-volume
            mountPath: /etc/prometheus/
          - name: colonies-prometheus-storage-volume
            mountPath: /prometheus/
       volumes:
         - name: colonies-prometheus-config-volume
           configMap:
             defaultMode: 420
             name: colonies-prometheus-server-conf
         - name: colonies-prometheus-storage-volume
           persistentVolumeClaim:
             claimName: colonies-prometheus-storage-pvc
{{ end }}
